*{
    box-sizing: border-box;
}
body,ul{
    margin: 0;
    padding: 0;
}
body{ 
    font-family: 'PT Serif', serif;
    font-size: 17px;
}
ul{
    list-style: none;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.header{
    height: 100px;
    background-color: #000;
    padding: 23px 0 0 10px;
    margin: 0 0 40px 0;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px 0 0;
}
.section{
    width: 700px;
}
.product{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    border-top: 1px solid #e0e0e0;
}
.product:first-child{
    padding: 0 0 20px 0;
    border-top: none;
}
.product__title{
    font-size: 1.2em;
    line-height: 40px;
}
.product__content{
    padding: 0 20px 0 20px;
}
.product__cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product__price{
    text-align: center;
    font-size: 1.7em;
    margin: 0 0 20px 0;
}
.btn{
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #00ade4;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
    font-weight: 900;
    line-height: 35px;
    transition: background-color 0.3s linear;
    cursor: pointer;
}
.btn:hover{
    background-color: #0000006e;
}
.btn:active{
    background-color: #000;
}
.cart{
    position: sticky;
    top: 10px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    width: 230px;
    padding: 15px;
    margin: 10px 0 0 0;
}
.cart__header{
    display: flex;
    align-items: center;
    height: 64px;
    margin: 0 0 30px 0;
    padding: 0 0 0 120px;
    background-image: url(../img/cart.png);
    background-position: center left;
    background-repeat: no-repeat;
}
.bold{
    font-weight: 900;
}
.cart__list{
    margin: 0 0 20px 0;
}
.cart__item{
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.cart__title{
    font-size: 1.1em;
}
.item__close img{
    width: 10px;
    cursor: pointer;
}
.item__title{
    width: 130px;
    padding: 0 0 0 10px;
    text-align: left;
}
.item__price{
    width: 100px;
    text-align: right;
}
.cart__price{
    margin: 20px 0;
    text-align: right;
    border-top: 1px solid #e0e0e0;
}
.cart__btn{
    background-color: #29d807;
}
.footer{
    height: 140px;
    background-color: #10546b;
}
@media screen and (max-width: 800px){
    body{
        font-size: 20px;
    }
    .container, .header, .footer, .section, .product{
        width: 100vw;
    }
    .header{
        background-color: #000;
        padding: 23px 0 0 10px;
        margin: 0 0 40px 0;
    }
    .content{
        flex-direction: column;
        align-items: center;
        padding: 0 0 0 0;
    }
    .product{
        flex-direction: column;
        align-items: center;
    }
    .product__img{
        width: 40vw;
    }
    .product__img img{
        width: 100%;
    }
    .product__title{
        font-size: 1.5em;
        text-align: center;
        line-height: 40px;
    }
    .product__content{
        width: 100vw;
        padding: 0 10px 0 10px;
        text-align: justify;
    }
    .product__cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product__price{
        text-align: center;
        font-size: 2em;
        margin: 20px 0 20px 0;
    }
    .btn{
        width: 50vw;
        height: 10vw;
    }
    .cart{
        position: fixed;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 95vw;
        height: 95vh;
        font-size: 1.2em;
        transition: 0.4s linear;
    } 
    .minimalize{
        overflow: hidden;
        transform: translateX(calc(50vw - 57px));
        width: 114px;
        top: 0;
        padding: 0px 0 0 15px;
        height: 100px;
        margin: 0;
    }
    .hidden{
        visibility: hidden;
        opacity: 0;
    }
    .bold{
        font-weight: 900;
    }
    .cart__header{
        position: sticky;
        top: -15px;
        height: auto;
        width: 100%;
        background-color: #fff;
    }
    .cart__content{
        width: 100%;
    }
    .cart__item{
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 0;
    }
    .cart__title{
        font-size: 2.1em;
        line-height: 100px;
    }
    .item__close img{
        width: 10vw;
        cursor: pointer;
    }
    .item__title{
        width: 70vw;
        padding: 0 0 0 10px;
        text-align: left;
    }
    .item__price{
        width: 20vw;
        text-align: right;
    }
    .cart__price{
        margin: 20px 0;
        text-align: right;
        border-top: 1px solid #e0e0e0;
    }
}